.page-heading {
    padding: 10px;
}

.ibox-content {
    padding: 15px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    border: 0;
}

.btn-group.disabled button.disabled {
    background-color: white;
    border: 0;
    color: black;
}

    .btn-group.disabled button.disabled span.bs-caret {
        display: none;
    }

.mlten {
    margin-left: 10px;
}
